body {
    background-image: url(fon-games.jpg)
  }
  .menu ul {
    list-style-type: none; /* Ro'yhat nuqtasini o'chirish */
    margin: 5px 5px 5px 5px; /* Yon ichidagi marginni o'chirish */
    padding: 0; /* Yon ichidagi paddingni o'chirish */
  }
  .menu ul li {
    float: left; /* Har bir menyu elementini chapga surish */
  }
  
  .menu ul li a {
    display: block; /* Link elementini blok elementiga aylantirish */
    color: white; /* Matn rangi */
    text-align: center; /* Matnni markazga sig'ish */
    padding: 14px 16px; /* Orqa va oldni bosganlik */
    text-decoration: none; /* Underline o'chirish */
  }
  
  /* Link hover holatida rang o'zgarishi */
  .menu ul li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  
  
  .name {
    background-color: black;
    text-align: right;
    color: #f1a9a9;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    font-size: 22px;
  }
  li {
  
    border-radius:5px
  }
  h1 {
    text-align: center;
  }
  
.sarlavha {
    color:#f1a9a9;
    text-align: center;
    margin-top: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
img {
    border-radius: 50%;
   
}
.images {
    text-align: center;
background-color: aliceblue;
border-radius: 15px;
margin: 0px 400px 0px 400px;
}